.headerRows th {
    min-width: 150px;
    padding: 15px 20px;
    background-color: var(--color-light-gray);
    text-align: center;
}

.headerRows th:nth-child(1) {
    min-width: 350px;
}

.headerRows th:nth-child(2) {
    background-color: var(--color-light-blue);
}