:root {
  --color-light-blue: #e0f2ff;
  --color-light-green: #e5ffe5;
  --color-light-red: #ffe5e5;
  --color-green: #008000;
  --color-red: #ff0000;
  --color-light-gray: #f5f5f5;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 30px;
}
